@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

.img-blur {
    filter: blur(4px);
}

#inicio {

 
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
     
}

#incio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    }

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;

}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .social a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .social a:hover {
    color: #91ff00;
}

#inicio .contenido .presentacion {
    background: rgba(5, 5, 5, .5);
    background-image: url(./images/FondoBlur.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    height: 91vh;
    margin: auto;
    color: #ffffffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px;
    border: 3px dotted #000000;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #ff5080;
}

#icono-nav {
    color: #fff;
    display: none;
}

.fa-square-instagram {
    font-size: 1.5em;
}

.fa-facebook {
    font-size: 1.5em;
}

.fa-github {
    font-size: 1.5em;
}

.fa-linkedin {
    font-size: 1.5em;
}

.fa-youtube {
    font-size: 1.5em;
}

.fa-behance {
    font-size: 1.5em;
}

/* Sobre Mi */

#sobremi {
    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
    color: #184ae0;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    background-color: white;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: grey;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: grey;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #404040;
    color: azure;
}

#sobremi .sobremi .titulo-section {
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    margin: 0 40px;
}

/* MIS SERVICIOS */

.mis-Servicios {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 30px;
    height: 650px;
}

.color1 {
    background-color: #6e6e6e;
    color: #EAEA30;
    width: 100%;
}

.color2 {
    background-color: #272727;
    color: #EAEA30;
    width: 100%;
}

.color3 {
    background-color: #bdbbbb;
    color: #EAEA30;
    width: 100%;

}

/* CARDS */

.productDiv {
    display: inline-block;
    color: black;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    width: 290px;
    height: 380px;
    margin-bottom: 60px;
    align-items: center;
    align-content: center;
    order: 1;
    margin-left: 6%;
    transition:  all 0.5s;

    shadow(12px, 8px);
    background: #ffffff;
    border: 2px dotted #b0b0b0;
    }

.productDiv:hover {
    box-shadow: #000000;
    transform: scale(1.05);
}

/* Mixins */

.container {
    gap: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}
.containerSearch {
    gap: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    padding: 30px;
}

button {
    font-size: 15px;
    width: 100%x;
    padding: 0px;
}

button, button:not(:hover) {
    background-color: darkslategray;
    border-color: gray;
}

button:hover {
    background-color: darkcyan;
    color: rgb(43, 5, 255);
    border-color: lightgray;
}

button:active {
    background-color: black;
    color: whitesmoke;
    border-color: black;
}
.mensajes {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 46px;
    width: 70%;
    color: rgb(0, 0, 0);
    font-weight: bold; 
    border-radius: 6px;
    margin-bottom: 30px;
    @include shadow(12px, 8px);
}
#buscarSection {
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
    border: 1px white dotted;
    padding: 30px;
    margin-top: 30px;
}
#busquedaInput {
    margin-right: 10px;
    border-radius: 20px;
}

.botonBuscar {
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
}

#elegidosSection {
    display: inline-block;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
    border: 0.5px white dotted;
    padding: 30px;
    margin-top: 30px;
}

//carrito 


#carritoContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width:auto;
    height: auto;
}

.carritoItem {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;    
    width: auto;
    text-align: left;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px rgb(88, 88, 88) dotted;
}

.carritoItem img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.carritoItem p {
    display: flex;
    margin: 0px;
    text-decoration: none; 
    text-align: left;
}

#vaciarCarritoBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
}

.carritoItem button {
    margin: 0 5px;
}
.fa-trash {
    background-color: white;
    font-size: 1.5em;
}
.total {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 1.1rem;

}
.eliminarBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    cursor: pointer;
}

#finalizarCompraBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    cursor:pointer;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.05s filter;
    filter: blur(10px);
  }
    #contador-carrito {
    color: yellow;
  }
   
  .fa-cart-shopping {
    color: white;
    font-size: 25px;
  }

  .text-body {
    background-color: rgba(0, 0, 0, 0.801);
  }

  .nav-link {
    background-color: rgba(0, 0, 0, 0.0);
}