#servicios-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  width: 95%;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}

.tarjeta:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  padding: 10px;

}

.tarjeta img {
  width: 95%;
  border-radius: 15px;

  height: auto;
  object-fit: cover;
  top: 20px;
}

.tarjeta h3 {
  font-size: 20px;
  color: #333;
  margin: 10px;
  text-align: center;
}

.tarjeta p {
  color: #555;
  padding: 0 15px;
  font-size: 16px;
}

.tarjeta button {
  background-color:$scarpa-flow; /* Color principal */
  color: #fff;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  width: 85%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tarjeta button:hover {
  background-color: $enlaces-orange;
  color: $scarpa-flow;
  font-weight: bold; /* Color al hacer hover */
}   


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
  top: 5px;
}

.modal-content img {
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modal-content h2, .modal-content p, .modal-content ul {
  margin: 10px 0;
  color: #ffffff;
  font-size: 1.2em;
}

.modal-content p{
margin: 10px 0;
color: #222222;
font-size: 0.7em;
text-align: center;
}

.close-button {
  position: absolute;
  top: 00px;
  right: 5px;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
  z-index: 99999;
}

/* Botón de contratar */
.modal-content button {
  background-color: #28a745; /* Color para el botón Contratar */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #218838;
}


//



.modal-content img {
  max-width: 98%; /* Asegura que la imagen no exceda el ancho del modal */
  height: auto;
}

.modal-content table {
  width: 100%; /* Ancho completo dentro del modal */
  border-collapse:initial; /* Elimina el espacio entre las celdas */
  height: 200px;


}

.modal-content th, .modal-content td {
  border: 1px solid #ddd; /* Borde ligero para las celdas */
  padding: 1px; /* Espaciado interno en las celdas */
  text-align: center; /* Alineación del texto */
  height: 1px;
  

}

.modal-content th {
  background-color: #f2f2f2; /* Color de fondo para los encabezados */
  font-size: 0.8em; /* Reducción del tamaño de la fuente */
  
}

.modal-content td {
  font-size: 0.65em; /* Reducción del tamaño de la fuente */
  
}


.servicio-contenedor {
  position: relative;
  width: 100% /* Ancho deseado para la imagen */;
  height: 170px/* Altura deseada para la imagen */;
  
}

.servicio-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen cubra todo el contenedor */
}

.nombre-servicio {
  position: absolute;
  top: 50%; /* Ajusta estos valores según necesites */
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto en la imagen */
  color: rgb(255, 255, 255)/* Color del texto */;
  font-size: 30px;
  /* Añade más estilos al texto si lo necesitas (tamaño, sombra, etc.) */
}

.td-precio {
  font-size: 30px!important;
}

//

.card-img{
  width: 100%;
  height: 170px!important;
  display: flex;
  justify-content: center;
  ;
}