/* INICIO - HEADER */

#inicio {
    font-family: poppins;
    width: 100%;
}

#inicio .contenido header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

}

#inicio .contenido header {
    background-color: transparent;
}

#inicio .contenido header .contenido-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    background-color: transparent;
}

/* ESTRUCTURA DE COLOR */

body {
    background-color: $soapstone;
    color: #8b8d92;
}

.navbar a,
.navbar-brand {
    color: #debfb0;
}

.nav-link.active {
    color: $enlaces-orange !important;
}

.presentacion h2 {
    color: #debfb0;
}

.bienvenida,
.descripcion p {
    color: $enlaces-orange;
    font-size:em;
}

.bienvenida,
.descripcion {
    color: $enlaces-orange;
    font-size: em;
}

.span-cr {
    color: $enlaces-orange;
}
.ar-header {
    color: #ffffff;
}
.ar {
    color: #75AADB;
}

/* NAVEGACION */
#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#inicio .contenido header .contenido-header nav ul li {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    display: block;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
}

#inicio .contenido header .contenido-header nav ul li:hover a {
    transform: scale(1.1);
    color: $enlaces-orange;
}
#inicio .contenido header .contenido-header nav ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $enlaces-orange;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#inicio .contenido header .contenido-header nav ul li:hover::before {
    transform: scaleX(1);
}

.navbar {
    width: 100%;
    padding: 0;
}

.container-fluid {
    font-size: 1.5em;
    width: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    font-family: poppins;
}

.navbar-nav {
    width: 100%;
    background-color: transparent;
}

.collapse .navbar-collapse {
    font-size: 1.4em;
}

#navbarSupportedContent {
    width: 100%;
}

.bg-body-tertiary {
    transition: background-color 0.3s;
    background-color: transparent !important;
    color: yellow;
}

.bg-body-tertiary.scrolled {
    background-color: $thunder !important;
    /* Color cuando se desplaza */

}

/* BOTON CARRITO */
#cart-button {
    border: none;
    background-color: transparent;
}

.fa-solid {
    font-size: 1.4em;
    color: $scarpa-flow;
}

.fa-cart-shopping {
    font-size: 1.7em;
    color: #ffa500;
}

/* PRESENTACION */

#inicio .contenido .presentacion {
    height: 100vh;
    margin: auto;
    color: #ffffffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/fondoprin1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 30em 0px 30em 0px rgba(0, 0, 0, 1);
}


.sombra {
    box-shadow: 3em 0 0 0 rgba(0, 0, 0, 1);
}

#inicio .contenido .presentacion .bienvenida_h1 {
    font-size: 4.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;

}

.p_presentacion {
    font-size: 2em;
    color: $oslo-gray;
    padding: 2em;
    text-align: center;
}

#inicio .contenido .presentacion h2 {
    font-size: 3.5em;
    margin-bottom: 25px;
    text-align: center;
    font-weight: lighter;
    text-shadow: 0 5px 39px white;
}


#inicio .contenido .presentacion h2 span {
    font-size: 1em;
    color: #d6ff0a;
    font-weight: bold;
    padding: 30em;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 85%;
    margin: 25px;
    font-size: 2.2em;
    text-align: center;
    border-radius: 10px 90px / 120px;
    padding: 10px;
    color: white;
    background: linear-gradient(to top, rgba($thunder, 0.35), transparent);
    background: linear-gradient(to bottom, rgba($oslo-gray, 0.035), transparent);
}


#inicio .contenido .presentacion a:hover {
    width: 250px;
    background-color: #e8e814;
    text-align: center;
    font-size: 2em;
}

/* BUSCAR */

.titulo-servicios {
    margin-top: 4em;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: $thunder;
}

.titulo-servicioscard {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: $thunder;

}


#busquedaInput {
    margin-right: .5em;
    width: 50vw;
    font-size: 2em;
    border-radius: 10px;
    padding: .3em;
    color: $thunder;
    
}

.botonBuscar {
    font-size: 2em;
    padding: .5em;
    color: $thunder;
    height: auto;
    width: auto;
    cursor: progress;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    gap: 1em;
    margin-top: 2em;
}

.botonBuscar:hover {
    background-color: $thunder;
    color: $soapstone;
}

.containerSearch {
    display: flex;
    gap: 3em;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 5em;
    
}

.b-servicios {
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: $soapstone
  }
/* -------CSS de Chat WhatsApp -------*/

.whatsapp {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 1em;
    padding: 1px;
}

.boton-whatsapp {
    width: 50px;
    height: 50px;
}

.disabled {
    color: $scarpa-flow !important;
}

/* estilos.css */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.proyectos {
    width: 100%;
}

#proyectos {
    width: 85%;
    justify-content: center;
    align-items: center;
}

.img-proyec {
    width: 40%;
    height: 300px;
}


#servicios {
    width: 100%;
    margin-top: 10em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgba($scarpa-flow, 1.02), transparent);
}

.servicios-web {
    background: linear-gradient(to top, rgba($scarpa-flow, 1.02), transparent);
    color: #404042;
    padding: 2em;
    align-items: center;
    align-content: center;
}

.imglogo {
    display: inline;
    width: 220px;
    float: right;
    text-shadow: 0 5px 39px white;
    padding: 24px;
}

/* analisis */

body {
    font-family: poppins;
    margin: 0;
    background-color: $soapstone;
    color: #8b8d92;
    margin: 0;
    padding: 0;
    background-image: url('../images/fondont.png'); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100%;
    background-position: center center;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10em;
}

.titulo-section {
    margin-top: 4em;
    text-align: center;

}

/* proyectos */
.titulo-proyec {
    margin-top: 4em;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.titulo-proyec__h3 {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

/* TITULO SECTION STAGE */
.titulo-section-h1 {
    margin-top: 4em;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: $thunder;
}

.titulo-section-h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: $scarpa-flow;
    padding: 60px;

}

.stage {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 300px;
    background-color: #f0f0f0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.stage .image,
.stage .text {
    flex: 1;
    padding: 40px;
    position: relative;
}

.stage .image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-color: rgba(155, 155, 155, 0.1);
    width: 10%;
}

.stage .image img {
    width: 30%;
}

.stage .text {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}

.stage .text:hover {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}

.stage .text h2 {
    margin: 0 0 10px;
    font-size: 3em;
    transition: font-size 0.3s ease;
}

.stage .text p {
    margin: 0;
    font-size: 1.6em;
    transition: font-size 0.3s ease;
}

.stage .step-number {
    position: absolute;
    font-size: 35rem;
    color: rgba(64, 64, 66, 0.15);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: opacity 0.3s ease;
}

.stage:not(:last-child) {
    margin-bottom: 20px;
}

.stage:hover {
    transform: scale(1.02);
}

.stage:hover .step-number {
    opacity: 0.2;
}

.stage:hover .text h2 {
    font-size: 3.5rem;
}

.stage:hover .text p {
    font-size: 1.7rem;
}


/* Barra lateral */
.side-bar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    z-index: 10000;
}

/* Puntos de la barra lateral */
.side-bar .dot {
    width: 18px;
    height: 18px;
    background-color: $thunder;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 100;
    border: 1px solid $enlaces-orange;
}

/* Punto activo */
.side-bar .dot:hover {
    background-color: $enlaces-orange!important;
    z-index: 100;
}

/* TOP BACK */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 16px;
    border: none;
    background-color: $thunder;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    animation: bounce 2s infinite;
}

#backToTop:hover {
    background-color: $enlaces-orange;
    color: $thunder;
}


/* ACORDEON */

.accordion-button {
    background-color: $thunder !important;
    color: $enlaces-orange !important;
}

.accordion-button:hover {
    background-color: $oslo-gray;
    color: $soapstone !important;
}

.accordion {
    display: o;
    width: 100%;
    font-size: 2em;
    align-items: center;
}

.eleccion {
    width: 96%;
    align-items: center;
    justify-content: center;
    padding: 1em 1em 1em 1em;
    margin-bottom: 15em;
    height: 100%;
    
}

.nosotros {
    width: 96%;
    align-items: center;
    justify-content: center;
    padding: 1em 1em 1em 1em;
    margin-bottom: 15em;
    height: 100%;
}

.p-descripcion {
    text-align: center;
    font-size: 2.7em;
    color: $thunder;
}

.p-descripcion-p {
    text-align: center;
    font-size: 2.7em;
    padding: 2em;
    color: $thunder;
    font-weight: bold;
}

.accordion-button {
    font-size: 1.5em;
}

/* COMIENZO CARRITO Y MODALES */


.h1-carrito {
    font-size: 1.3em;
    color: $thunder;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    top: 0;
}

.h2-carrito {
    color: $scarpa-flow;
    text-align: center;
    font-size: 1em;
}
.b { 
    color: red;
    font-size: .3em!important;

}
/* 
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

}

.modal-content {
    background-color: $soapstone;
    padding: 15px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: $scarpa-flow;
    text-align: center;
    top: 8%;
    z-index: 9999999!important;
}

.close-button {
    color: #000000;
    float: right;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.close-button:hover,
.close-button:focus {
    color: rgb(66, 66, 66);
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
}
 */
//carrito 

#carritoContainer {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: $soapstone;
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 15em;
}

.carritoItem {
    display: flex;
    flex-direction: inline;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px $thunder dotted;

}

.carritoItem img {
    width: 40%;
    height: 40%;

}

.carritoItem p {
    display: flex;
    margin: 0px;
    text-decoration: none;
    text-align: left;
    color: $scarpa-flow;
    font-size: .9em;

}

.fa-trash {
    background-color: white;
    font-size: 1.2em;
}

.total {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    color: $thunder;

}


.botonesModal {
    display: flex;
    position: relative;
    flex-direction: inline;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .6em;
    margin-top: 10px;
    font-size: 1em;

}

#finalizarCompraBtn {

    font-size: .7em;
    color: $enlaces-orange;
    width: 200px;
    border-radius: 8px;
    background: $thunder;
    cursor: pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;
}

#finalizarCompraBtn:hover {

    font-size: .7em;
    color: $thunder;
    width: 200px;
    border-radius: 8px;
    background: $enlaces-orange;
    cursor: pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;
}

#vaciarCarritoBtn {
    font-size: .7em;
    color: $enlaces-orange;
    width: 200px;
    border-radius: 8px;
    background: $thunder;
    cursor: pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;

    #vaciarCarritoBtn:hover {
        font-size: .7em;
        color: $soapstone;
        width: 200px;
        border-radius: 8px;
        background-color: red !important;
        cursor: pointer;
        font-weight: bold;
        padding: .2em;
        text-align: center;
    }

    #seguirCompraBtn {
        font-size: .7em;
        color: $enlaces-orange;
        width: 200px;
        border-radius: 8px;
        background: $thunder;
        cursor: pointer;
        font-weight: bold;
        padding: .2em;
        text-align: center;
    }

    .seguirCompraBtn {
        justify-content: space-between;
    }

    #elegidosSection {
        display: inline-block;
        position: relative;
        justify-content: start;
        width: 100%;
        height: 100vh;
        padding: 30px;
        align-items: center;
    }

}

/* MODAL - CONTACT FINALIZAR COMPRA */
#contact-modal-fin {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 9999999!important;
}

.modal-fin .modal-content-fin {
    top: 0;
    background-color: $soapstone;
    padding: 15px;
    border: 1px solid #000000;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9999999!important;
}

.close-button-fin {
    color: #000000;
    float: right;
    font-size: 3.5em;
    font-weight: bold;
    cursor: pointer;
}

.close-button-fin:hover,
.close-button-fin:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formu .form-fin {
    display: grid;
    grid-gap: 5px;
}

.formu label {
    color: $thunder;
    font-weight: bold;
    font-size: 1.62em;
    text-align: center;
}

.formu input[type="text"],
.formu input[type="email"],
.formu input[type="tel"],
.formu select,
.formu .text-area {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.7em;
}

.formu .text-area {
    resize: none;
    height: 100px;
    font-size: 1.8em;
}

.formu .submit-fin {
    background-color: $thunder;
    color: $soapstone;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
}

.formu .submit-fin:hover {
    background-color: $enlaces-orange;
    color: $thunder;
    font-weight: bold;
    font-size: 2em;
}

.p-fin {
    margin-bottom: 1px;
    font-size: 1.9em;
    text-align: center;
    color: $scarpa-flow;
}


.h1-fin {
    font-size: 2.9em;
    text-align: center;
    color: $thunder;
}

/* SWEET ALERT */

.swal2-title {
    font-size: 1.5em !important;
    font-weight: bold!important;
}

.swal2-html-container {
    font-size: 1.5em !important;
    font-weight: bold!important;
    z-index: 9999999;
}

.swal2-container {
    font-size: 1.8em !important;
    font-weight: bold!important;
    z-index: 9999999;

}


/* styles.css */
.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 5px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
