@media (max-width: 600px) {
    #inicio {
        width: 100%;
        background-color: $scarpa-flow;
    }

    #inicio .contenido header {
        background-color: $thunder ;
        width: 100%;
        z-index: 100;
        top: 0;

    }

    #incio .contenido header .contenido-header {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 10px;
    }

    #inicio .contenido header .contenido-header h1 {
        text-align: center;
        color: $cavern-pink;
    }

    #inicio .contenido header .contenido-header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        text-decoration: none;
        color: $enlaces-orange;
        margin: 0 .5px;
        font-weight: 200;
        transition: .5s;
        font-size: .7em;
        text-align: center;
    }

    #inicio .contenido header .contenido-header nav ul a:hover {
        color: $cavern-pink;
    }

    #inicio .contenido header .contenido-header .social a {
        text-decoration: none;
        color: $cavern-pink;
        display: inline-block;
        margin-left: 5px;
        transition: .5s;
    }

    #inicio .contenido header .contenido-header .social a:hover {
        color: #91ff00;
    }

    .presentacion {
        background: rgba(5, 5, 5, 2);

    }

    #inicio .contenido .presentacion {
        background: rgba(5, 5, 5, 2);
        background-image: url(../images/FondoBlur.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        height: 100vh;
        margin: auto;
        color: #ffffffcc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 2px 2px 3px rgb(74, 73, 73);
        border: .5px solid black;

    }

    #inicio .contenido .presentacion .bienvenida {
        font-size: 4em;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 6em;
        margin-bottom: 12px;
        text-align: center;
    }

    #inicio .contenido .presentacion h2 span {
        font-size: 2em;
        color: #d6ff0a;
        font-weight: bold;
    }

    #inicio .contenido .presentacion .descripcion {
        display: inline-block;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 25px;
        font-size: 2em;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px 100px / 120px;
        padding: 10px;
    }

    #inicio .contenido .presentacion a {
        text-decoration: none;
        display: inline-block;
        margin: 25px;
        padding: 20px;
        border: 3px dotted #000000;
        border-radius: 50px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        width: 250px;
        text-align: center;
        font-size: 2em;
        background-color: #ffffff;

    }

    #inicio .contenido .presentacion a:hover {
        width: 250px;
        background-color: #e8e814;
        text-align: center;
        font-size: 2em;
    }

    .img-blur {
        filter: blur(4px);
    }

    #elegidosSection {
        display: inline-block;
        position: relative;
        justify-content: start;
        width: 100%;
        height: 100vh;
        padding: 30px;

        align-items: center;
    }

    .mostrar-cms {
        width: 100%;
    }

    #mostrar-cms {
        width: 100%;
    }

    /* Sobre Mi */

    #sobremi {
        width: 100%;
        margin: auto;
        padding: 40px;
        color: #184ae0;
        display: inline-block;
        background-color: white;
        align-items: center;
        text-align: center;
    }

    #sobremi .contenedor-foto {
        width: 100%;
        align-items: center;

    }

    #sobremi .contenedor-foto img {
        width: 100%;
        background-color: rgb(255, 255, 255);
        align-items: center;

    }

    #sobremi .sobremi {
        margin: 0 40px;
    }

    #sobremi .sobremi h2 {
        font-size: 44px;
        font-weight: bold;
        margin: 20px 0;
        letter-spacing: 2px;
    }

    #sobremi .sobremi h2 span {
        color: grey;
    }

    #sobremi .sobremi h3 {
        font-size: 3em;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    #sobremi .sobremi p {
        font-size: 1.8em;
        color: black;
        margin-bottom: 12px;
    }

    #sobremi .sobremi a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        border-radius: 15px;
        padding: 10px;
        border: 1px solid #000;
        margin-top: 30px;
        transition: .5s;
        font-size: 2.5em;
    }

    #sobremi .sobremi a:hover {
        background-color: #404040;
        color: azure;
    }

    #sobremi .sobremi .titulo-section {
        font-size: 22px;
        text-transform: uppercase;
        color: black;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        margin: 0 40px;
    }

    /* Proyectos */

    #proyectos {
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $spun-pearl;
        text-align: center;
        margin-bottom: 5em;
        color: #ffffff;
        display: flex;
        padding: 1em;
        background-color: black;
    }

    #proyectos .contenedor-foto {

        display: inline-block;
        max-width: 100%;
        margin-right: 80px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    #proyectos .contenedor-foto img {
        display: none;
        padding: 30px;
        width: auto;
        border-radius: 20px;
        background-color: rgb(171, 151, 151);
    }

    #proyectos .proyectos {
        margin: 0 40px;
    }

    #proyectos .proyectos h2 {
        font-size: 34px;
        font-weight: bold;
        margin: 20px 0;
        letter-spacing: 2px;
    }

    #proyectos .proyectos h2 span {
        color: grey;
    }

    #proyectos .proyectos h3 {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    #proyectos .proyectos p {
        font-size: 14px;
        line-height: 25px;
        color: grey;
        margin-bottom: 12px;
    }

    #proyectos .proyectos a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        border-radius: 15px;
        padding: 10px;
        border: 1px solid #000;
        margin-top: 30px;
        transition: .5s;
    }

    #proyectos .proyectos a:hover {
        background-color: #404040;
        color: azure;
    }

    #proyectos .proyectos .titulo-section {
        font-size: 22px;
        text-transform: uppercase;
        color: black;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        margin: 0 40px;
    }

}