.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 35px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 2.3em;
    color: $scarpa-flow;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.close-button:hover,
.close-button:focus {
    color: black;
    font-size: 2.2em;
    text-decoration: none;
    cursor: pointer;
}

//carrito 

#carritoContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width:auto;
    height: auto;
    text-align: center;
    align-items: center;
justify-content: center;
}

.carritoItem {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;    
    width: auto;
    text-align: left;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px rgb(88, 88, 88) dotted;
}

.carritoItem img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.carritoItem p {
    display: flex;
    margin: 0px;
    text-decoration: none; 
    text-align: left;
    color: $scarpa-flow;
    
}

#vaciarCarritoBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
}

.carritoItem button {
    margin: 0 5px;
}
.fa-trash {
    background-color: white;
    font-size: 1.6em;
}
.total {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    justify-content: center;

}
.eliminar{
    border: none;
}

.botonesModal{
    display: flex;
    position: relative;
}

#finalizarCompraBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    cursor:pointer;
}

#seguirCompraBtn {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 8px;
    background: linear-gradient(125deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    cursor:pointer;
}

.seguirCompraBtn {
    justify-content: space-between;
}

#elegidosSection {
    display: inline-block;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 30px;

    align-items: center;
}