.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    
}

.modal-content {
    max-width: 900px;
    max-height: auto;
    background-color: $soapstone;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 2.3em;
    color: $scarpa-flow;
    z-index: 99999999;
    margin-top: 100px;
    
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.close-button:hover,
.close-button:focus {
    color: black;
    font-size: 2.2em;
    text-decoration: none;
    cursor: pointer;
}

//carrito 

#carritoContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: linear-gradient(225deg, #ffffff, #c0c0c0);
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width:auto;
    height: auto;
    text-align: center;
    align-items: center;
justify-content: center;

}

.carritoItem {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;    
    width: auto;
    text-align: left;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px rgb(88, 88, 88) dotted;
    
}

.carritoItem img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.carritoItem p {
    display: flex;
    margin: 0px;
    text-decoration: none; 
    text-align: left;
    color: $scarpa-flow;
    
}


.carritoItem button {
    margin: 0 5px;
}
.fa-trash {
    background-color: white;
    font-size: 1.6em;
}
.total {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    justify-content: center;

}
.eliminar{
    border: none;
}

.botonesModal{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;

}

#finalizarCompraBtn {
    
    font-size: .7em;
    color: $enlaces-orange;
    width: 200px;
    border-radius: 8px;
    background:  $thunder;    
    cursor:pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;
}
#finalizarCompraBtn:hover {
    
    font-size: .7em;
    color: $thunder;
    width: 200px;
    border-radius: 8px;
    background:  $enlaces-orange;    
    cursor:pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;
}

#vaciarCarritoBtn {
    font-size: .7em;
    color: $enlaces-orange;
    width: 200px;
    border-radius: 8px;
    background:  $thunder;    
    cursor:pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;

}

#seguirCompraBtn {
    font-size: .7em;
    color: $enlaces-orange;
    width: 200px;
    border-radius: 8px;
    background:  $thunder;    
    cursor:pointer;
    font-weight: bold;
    padding: .2em;
    text-align: center;

}

.seguirCompraBtn {
    justify-content: space-between;
}

#elegidosSection {
    display: inline-block;
    position: relative;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 30px;

    align-items: center;
}


/* MODAL - CONTACT FINALIZAR COMPRA */
#contact-modal-fin {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 9999;
}

.modal-fin .modal-content-fin {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button-fin {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button-fin:hover,
.close-button-fin:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formu .form-fin {
    display: grid;
    grid-gap: 15px;
}

.formu label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.4em;
}

.formu input[type="text"],
.formu input[type="email"],
.formu input[type="tel"],
.formu select,
.formu .text-area {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.8em;
}

.formu .text-area {
    resize: none;
    height: 100px;
    font-size: 1.3em;

}

.formu .submit-fin {
    background-color: $thunder;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

    font-size: 1.4em;
}

.formu .submit-fin:hover {
    background-color: $enlaces-orange;
    color: $thunder;
    font-weight: bold;
    font-size: 1.4em;


}

.p-fin {
    margin-bottom: 20px;
    font-size: 1.5em;
}


.h1-fin {
    font-size: 2.9em;

}

