@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
    width: auto;
}


/* SWEET ALERT */


.swal2-timer-progress-bar {
    display: none;
} 

.swal2-title {
    font-size: 1.5em!important;
}

.swal2-container{
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
z-index: 99999999;
font-size: 2em;

}


.swal2-popup{
    width: auto!important;
    height: auto!important;
    z-index: 99999999;

}

.swal2-show{
font-size: 1em;
color: $thunder;
z-index: 99999999;

}

.swal2-html-container {
    font-size: 1.5em!important;
    
}

.swal2-styled {
font-size: 1.3em!important;
padding: 8px;

}



